<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>HealthClinic - Editar usuário</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
</head>

<%- include('partials/_header');%>


<body>
    <div class="form2">
        <form method="POST" id="update">
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" id="Nomecompleto" name="name" placeholder="Nome Completo" value="<%= user.name%>" minlength = "4" maxlength="20" required>
            
            <input type="email" id="Email" name="email" placeholder="Email" value="<%= user.email%>" required>
            <select name="type" id="type">
                <option value="user">usuário</option>
                <option value="admin">admin</option>
            </select>
            <input type="password" id="password" name="password" placeholder="Senha" required>

            <button type="submit" value="Salvar">Salvar</button>
        </form>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/account/account.js"></script>