<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>C1 - Cadastro</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
</head>

<%- include('../partials/_header');%>


<body>
  <div class="form2">
    <form action="/auth/user" method="POST" id="create">
      <span style="color: rgb(207, 61, 61); font-family: arial; padding-bottom: 8px;"><%= message !== null ? message : ''%></span>
      <input type="text" id="Nomecompleto" name="name" placeholder="Nome Completo" minlength = "4" maxlength="20" required>
      
      <input type="email" id="Email" name="email" placeholder="Email" required>
      
      <input type="password" id="password" name="password" placeholder="Senha" required>

      <input type="password" id="confirm_password" name="confirmaSenha" placeholder="Confirmar senha" required>

      <button type="submit" value="Criar Conta">Criar Conta</button>
    </form>
  </div>
</body>
<script src="/account/account.js"></script>
<script>
  var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
</script>