<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "/css/style.css" rel = "stylesheet">
    <link href = "form.ejs" rel = "stylesheet">
    <link rel="stylesheet" href="myAccount.ejs">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>C1 - Login Conta</title>

    <style>
      a {
        text-decoration: none;
        color: white;
      }

      a:hover {
        text-decoration: none;
        color: white;
      }

      button:hover {
        cursor:default;
      }
    </style>
  </head>

<header>
    <div class = "header-bar" style="padding-left: 20vh;">
      <a href="/" class="title">C1</a>
      <div style="float: right;">
        <a href="/user/my-account" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 20px; padding-top: 10px;" width="40" height="40" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16"><path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/><path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/></svg></a>
        <p class="p1" style="margin: 0px 10px 4px;"><strong>Minha conta</strong></p>
     </div>
    </div>
</header>

<body>

  <div class="form2">
    <form action="/auth/user/login" method="POST" id="form-login">
      <input type="email" id="email" name="email" placeholder="Email" required>
      
      <input type="password" id="password" name="password" placeholder="Senha" required>

      <button type="submit" value="Entrar" target="_blank">Entrar</button>
    </form>
    <a href="/user/form" class="login">Não tem conta? Crie agora mesmo!</a>
  </div>
</body>     
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/account/account.js"></script>
