<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href = "/css/style.css" rel = "stylesheet">
  <link rel="stylesheet" href="myAccount.ejs">
  <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>HealthClinic - Login Conta</title>

  <style>
    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      text-decoration: none;
      color: white;
    }

    button:hover {
      cursor:default;
    }
  </style>
</head>

<%- include('../partials/_header');%>


<body>

  <div class="form2">
    <span style="color: rgb(207, 61, 61); font-family: arial; padding-bottom: 8px;"><%= message !== null ? message : ''%></span>
    <form action="/auth/user/login" method="POST" id="form-login">
      <input type="email" id="email" name="email" placeholder="Email" required>
      
      <input type="password" id="password" name="password" placeholder="Senha" required>

      <button type="submit" value="Entrar" target="_blank">Entrar</button>
    </form>
    <a href="/user/form" class="login">Não tem conta? Crie agora mesmo!</a>
  </div>
</body>     
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/account/account.js"></script>
